body{
  margin: 0;
  width: 100vw;
}
.Chatwindow {
  width: 100vw;
  margin-bottom: 3rem;
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.chatHeader{
  width: 100%;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  background-color: rgb(179, 50, 50);
  box-sizing: content-box;
  margin-left: 0;
  z-index: 100 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5%;
  height: 50px;
}

.chatHistory {
  /* flex: 1; */
  width: 100%;
  position: relative;
  top: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 70px;
}

.textBox {
  width: 95%;
  height: 3rem;
  border-radius: 50px;
  border: 1px solid gray;
  outline: none;
  font-size: 18px;
  padding: 0 1rem;
}

.textForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin-left: 2.5%;
  height: 10%;
  position: fixed;
  bottom: 0;
  background-color: #191A1C !important;
;
}



.sendButton {
  /* padding: 0 50px; */
  border: 1px;
  cursor: pointer;
  /* background: rgb(179, 50, 50); */
  background-color: inherit;
  color: rgb(179, 50, 50);
  transition: 0.1s ease-in;
  font-family: monospace;
  font-size: x-large;
}

.sendButton:hover {
  transform: scaleX(1.2);
}



.chatHeader h3 {
  margin-left: 1%;
  color: black;
  font-family: monospace;
  font-size: 24px;
}



.chatHistory ul {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.textMsg {
  width: 90%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
}

.textMsg p {
  word-wrap: break-word;
}

.sentText {
  /* background-color: rgb(0, 132, 255); */
  background-color: #191A1C;
  border: 1px solid rgb(179, 50, 50);
  padding: 0 2%;
  align-self: flex-end;
  border-radius: 5px;
  max-width: 45%;
  color: cornsilk;
  font-family: monospace;
  font-size: 18px;
}

.receivedText {
  /* background-color: white; */
  background-color: #191A1C;
  border: 1px solid rgb(179, 50, 50);
  padding: 2%;
  align-self: flex-start;
  border-radius: 5px;
  max-width: 45%;
  color: cornsilk;
  font-family: monospace;
  font-size: 18px;

}

.senderTitle {
 margin-top: 0;
 margin-bottom: 0.05%;
 color: rgb(179, 50, 50);
 font-weight: 700;
 font-size: 22px;
 margin-top: 10px;
}

.FriendImage {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.TypingIndicator{
  color: rgb(179, 50, 50);
  font-size: 18px;
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 0.5%;
}

.TypingIndicator::after {
  content: '\200b';
  font-family: monospace;
}

.friendPicAndNameDiv {
  position: relative;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.smallFriendPic {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

body {
  background-color: #191A1C !important;
}