.Navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #22262F;
}

.Navbar nav {
  height: 100%;

}

.HamburgerIcon {
  margin-left: 20px;
  font-size: xx-large;
  color: rgb(179, 50, 50);
}

