.ProfileData {
  margin: 100px auto 0;
  width: 80%;
}


.ProfileDetails {
  display: flex;
  flex-direction: row;
  border: 1px solid #22262F;
  padding: 3%;
  background-color: #22262F;
  border-radius: 10px;
  width: 70%;
}

.ProfileImg {
  margin-right: 10%;
}

.ProfileImgEdit img {
  cursor: pointer;
}

.ProfileImgEdit>input[type="file"] {
  display: none;
}

.ProfileImg img,
.ProfileImgEdit img
 {
  margin: 0 auto;
  width: 150px;
  height: 150px;
}


/* .ProfileImgEdit > img:hover {
  
} */

.DefaultViewContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DefaultViewContent p {
  font-size: 24px;
}

.Btn {
  margin-top: 1%;
  padding: 1% 3%;
  background-color: rgb(179, 50, 50);
  border-color: rgb(179, 50, 50);
  border-radius: 7px;
  cursor: pointer;
  border: none;
  outline: none;
  margin-left: 2%;
  font-family: monospace;
  font-size: 18px;
  font-weight: 700;
}

.DefaultViewContent button:active,
.saveChangesBtn:active {
    border-color:  rgb(64, 95, 153);;

}

.ProfileCreds {
  font-family: monospace;
  color: cornsilk;
}

.EditArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;

  border: 1px solid  #22262F;
  background-color: #22262F;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
}

.NewInfoForm {
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 50%;
}

.NewInfoForm input {
  border-radius: 10px;
  height: 30px;
  margin-bottom: 10%; 
  background-color: #1b1e25;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 1%;
  font-family: monospace;
}

.NewInfoForm label {
  text-align: left;
  margin-bottom: 1%;
  font-family: monospace;
  font-size: 24px;
}

.ErrorMsg {
  color: rgb(189, 22, 22);
}

.Overlay {
    position:relative;
    width:150px;
    height:150px;
}
.Overlay img {
    width:100%;
    vertical-align:top;
}
.Overlay:after, .Overlay:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.3s;
}
.Overlay:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.8);
    cursor: pointer;
}
.Overlay:before {
    content: attr(data-content);
    width:100%;
    color:cornsilk;
    z-index:1;
    bottom:50%;
    padding:4px 10px;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-family: monospace;
}
.Overlay:hover:after, .Overlay:hover:before {
    opacity:1;
}
